/* frontend/src/components/NavBar.css */
.custom-navbar {
    background-color: #343a40; /* Color oscuro para el fondo */
  }
  
  .navbar-brand-custom {
    color: #f8f9fa; /* Color blanco para el texto de la marca */
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-brand-custom:hover {
    color: #ffc107; /* Color amarillo en hover */
  }
  
  .nav-link {
    color: #f8f9fa; /* Color blanco para los enlaces */
  }
  
  .nav-link.active {
    color: #ffc107; /* Color amarillo para los enlaces activos */
  }
  
  .nav-link:hover {
    color: #ffc107; /* Color amarillo en hover */
  }
  
  .logout-button {
    background-color: #dc3545; /* Color rojo para el botón de cierre de sesión */
    border-color: #dc3545;
  }
  
  .logout-button:hover {
    background-color: #c82333; /* Color rojo más oscuro en hover */
    border-color: #bd2130;
  }
  