/* src/components/NavBar.css */
 
nav {
    background-color: #ff5f2f;
    padding: 40px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 200px;
    transform: translateX(0%);
    transition: transform 0.3s ease;
}

nav.open {
    transform: translateX(0);
}

nav ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav li {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

nav a.active {
    background-color: #af5700;
    color: #fff;
}

nav a:hover {
    background-color: #af5700;
    color: #fff;
}

button {
    background-color: #fff;
    border: none;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: left;
}

button:hover {
    background-color: #af5700;
    color: #fff;
}

body {
    margin-left: 100px; 
}

@media (max-width: 768px) {
    nav {
        transform: translateX(-100%);
        width: 50%;
        height: auto;
    }

    nav.open {
        transform: translateX(0);
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin: 10px 0;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle.active + nav {
        transform: translateX(0);
    }

    body {
        margin-left: 0;
    }
}

.nav-toggle {
    display: none;
    background-color: #ff5f2f;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    border: none;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }
}
