/* frontend/src/styles/App.css */

.app-body {
    background-color: rgba(21, 104, 167, 0.7); 
    background-image: url("/public/imagenes/fondo_azul_1.jpg"); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Contenedor principal que respeta el sidebar */
.container-main {
    position: relative;
    margin-left: 80px; /* Espacio para el sidebar cerrado */
    padding: 20px; /* Relleno interno */
    min-height: 100vh; /* Ocupa la altura completa de la pantalla */
    transition: margin-left 0.3s ease; /* Animación de transición para el margen */
}

.container-main.open {
    margin-left: 250px; /* Espacio para el sidebar abierto */
}

/* Ajusta la altura del contenedor al tamaño de la ventana */
html, body {
    height: 100%;
}

.background-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(21, 104, 167, 0.7); /* Transparencia para ver el fondo */
    z-index: -1; /* Se asegura de que el fondo quede detrás del contenido */
}

