/* frontend/src/styles/App.css */

.app-body {
    background-color: rgba(21, 104, 167, 0.7); 
    background-image: url("/public/imagenes/blanco_con_azul.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Contenedor principal con margen adaptable al Sidebar */
.app-container {
    transition: margin-left 0.3s ease, width 0.3s ease;
    min-height: 100vh;
    position: relative;
}

/* Estilo para cuando el sidebar está cerrado */
.app-container.sidebar-closed {
    margin-left: 80px;
    width: calc(100% - 80px);
}

/* Estilo para cuando el sidebar está abierto */
.app-container.sidebar-open {
    margin-left: 250px;
    width: calc(100% - 250px);
}

/* Ajuste de fondo transparente detrás del contenido */
.background-app {
    position: rel;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    z-index: -1;
}

/* Ajusta la altura del contenedor al tamaño de la ventana */
html, body {
    height: 100%;
}
