/* frontend/src/styles/carrera.css */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@400&display=swap');

/* Contenedor principal con fondo azul */
.carrera-list-container {
    background-color: #00639a; 
    padding: 30px;
    border-radius: 1rem;
    transition: padding-left 0.3s ease; 
    margin:2rem;
}

/* Título dentro de un rectángulo con estilo */
.titulo-carrera-rectangulo { 
    font-family: 'Arvo', serif;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    padding: 15px 20px;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: white;
} 

/* Contenedor de los cuadros de información */
.cuadros-informacion-carrera {
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)); /* Azul oscuro translúcido */
    padding: 2rem;
    border-radius: 1rem;
}

/* Tarjetas de carrera con fondo blanco y sombra roja */
.cuadro-carrera {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(216, 116, 126, 0.5); /* Sombra roja suave */
    margin-bottom: 1rem;
    padding: 15px;
}

/* Texto de cada tarjeta de carrera */
.text-center-carrera {
    font-family: 'Gotham', sans-serif;
    color: #0d234a; /* Azul oscuro */
    font-size: 1.1rem;
    text-align: center;
}

/* Contenedor de cada tarjeta */
.body-carrera {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
