/* frontend/src/styles/carrera.css */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@400&display=swap');

/* Aquí puedes definir la fuente de Verona si la tienes o encontrar una alternativa */
/* Estilo para el contenedor principal */
.carrera-list-container {
    padding: 20px;
    transition: padding-left 0.3s ease;
}

.cuadros-informacion{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 2rem;
}

.mb-4-carrera{
    padding: 1rem;
}

/* Rectángulo para el título */
.titulo-carrera-rectangulo {
    font-family: 'Arvo', serif;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0,0,0,0.2));
    padding: 15px 20px;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.text-center-carrera {
    font-family: 'Gotham', sans-serif;
    color: white;
    font-size: 1rem;
}


/* Estilo para el botón de crear */
.create-button-carrera {
    color: white;
    background-color: #0d234a;
    border: none;
    font-family: 'Verona', sans-serif;
    font-size: 20px;
    transition: all 0.3s ease;
}

.create-button-carrera:hover {
    background-color: white;
    color: #0d234a;
    
}

/* Estilo para las tarjetas de carrera */
.cuadro-carrera {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.body-carrera {
    background-color: #d8747e; /* Rojo que combina con el azul */
    border-radius: 10px;
    padding: 20px;
}


.boton-grupo-carrera {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

/* Estilo para los botones dentro de las tarjetas */
.custom-button-carrera {
    color: white;
    background-color: #0d234a;
    border: none;
    font-family: 'Verona', sans-serif;
    transition: all 0.3s ease;
}

.custom-button-carrera:hover {
    background-color: white;
    color: #0d234a;
}
