/* frontend/src/styles/convocatoria.css */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@400&display=swap');

/* Contenedor principal */
.container-list-convocatoria {
    background-color: #00639a;
    padding: 20px;
    border-radius: 1rem;
    color: white;
}

/* Título */
.text-center-convocatoria {
    font-family: 'Arvo', serif;
    background: linear-gradient(90deg, rgba(0, 99, 154, 1), rgba(0, 99, 154, 1));
    padding: 15px 20px;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: white;
}


/* Contenedor de búsqueda */
.search-container-convocatoria {
    display: flex;
    align-items: center;
    background-color: #00639a;
    padding: 10px;
    border-radius: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Campos de formulario */
.form-select-convocatoria, .form-control-convocatoria {
    border-radius: 2rem;
    background-color: #00639a;
    color: #000000;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    margin: 0 5px;
}

.form-control-convocatoria, .form-control{
color: #ffffff;
background-color: #00639a;
}

.form-select-convocatoria:focus, .form-control-convocatoria:focus {
    background-color: #ffffff;
    outline: none;
    color: #00639a;
    border-color: #00639a;
    box-shadow: 0 0 5px rgba(216, 116, 126, 0.5);
}

/* Tabla */
.table-convocatoria {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
    font-family: 'Gotham', sans-serif;
    color: #0d234a;
    border: 1px solid #ddd;
}

.table-convocatoria th, .table-convocatoria thead th {
    background-color: #00639a;
    color: white;
    font-weight: bold;
    padding: 15px;
}

.table-convocatoria td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.table-convocatoria tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Botones personalizados */
.custom-button-convocatoria { 
    transition: background-color 0.3s, color 0.3s, transform 0.3s; 
    border-color: #ffffff; 
    padding: 1rem; 
    margin: 5px; 
    font-family: 'Arvo', serif;
    background-color: #ffffff;
    color: #060a16;
}

.custom-button-convocatoria:hover {
    transform: translateY(-2px);
}

/* Modal */
.modal-body-convocatoria {
    padding: 20px;
}

/* Iconos */
.icon-convocatoria {
    margin-right: 5px;
}

/* Tarjeta de convocatoria */
.convocatoria-card {
    background-color: #da1c1c;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 1rem;
}

.convocatoria-title {
    font-family: 'Arvo', serif;
    color: #0d234a;
}

.convocatoria-details {
    font-family: 'Gotham', sans-serif;
    color: #333;
    margin: 0.5rem 0;
}


