/* frontend/src/styles/convocatoria.css */ 
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@400&display=swap');

/* Estilos generales */
body {
    font-family: 'Gotham', sans-serif;
}

/* Contenedor principal */
.container-list-convocatoria,
.container-list-conv-estado {
    background-color: #00639a;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

/* Título */
.text-center-convocatoria,
.text-center-conv-estado {
    font-family: 'Arvo', serif;
    background: linear-gradient(90deg, rgba(0, 99, 154, 1), rgba(0, 99, 154, 1));
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

/* Contenedor de búsqueda */
.search-container-convocatoria {
    display: flex;
    align-items: center;
    background-color: #00639a;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Campos de formulario */
.form-select-convocatoria, 
.form-control-convocatoria, 
.form-control {
    border-radius: 2rem;
    background-color: #00639a;
    color: #ffffff;
    padding: 0.5rem;
    border: 0.1rem solid #ffffff;
    margin: 0 0.5rem;
}

.form-select-convocatoria:focus, 
.form-control-convocatoria:focus {
    background-color: #ffffff;
    outline: none;
    color: #000000;
    border-color: #00639a;
}

/* Tabla */
.table-convocatoria {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-top: 1.5rem;
    text-align: center;
    font-family: 'Gotham', sans-serif;
    color: #0d234a;
    border: 1rem solid #ddd;
}

.table-convocatoria th, 
.table-convocatoria thead th {
    background-color: #00639a;
    color: white;
    font-weight: bold;
    padding: 2rem;
}

.table-convocatoria td {
    padding: 1rem;
    border-top: 1rem solid #ddd;
}

.table-convocatoria tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Botones personalizados */
.custom-button-convocatoria, 
.custom-button-conv-estado {
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    font-family: 'Arvo', serif;
    background-color: #ffffff;
    color: #060a16;
    border-radius: 1rem;
}

.custom-button-convocatoria:hover, 
.custom-button-conv-estado:hover {
    transform: translateY(-0.2rem);
}

.custom-button-conv-estado {
    background-color: #ff9800;
}

.custom-button-conv-estado:hover {
    background-color: #ff5722;
    color: white;
    transform: translateY(-0.3rem);
}

/* Modal */
.modal-body-convocatoria, 
.modal-body-conv-estado {
    padding: 2rem;
}

/* Iconos */
.icon-convocatoria {
    margin-right: 0.5rem;
}

/* Tarjeta */
.card-custom-conv-estado {
    background-color: #00639a;
    border-radius: 0.75rem;
    box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Título de la tarjeta */
.card-custom-conv-estado .text-center-conv-estado {
    font-family: 'Gotham', sans-serif;
    color: #fff;
    font-weight: bold;
}

/* Diseño responsivo */
@media (max-width: 75rem) {
    .container-list-conv-estado {
        padding: 1.5rem;
    }

    .card-custom-conv-estado {
        margin-bottom: 1rem;
    }
}

/* Estilo adicional para los contenedores de estado de convocatoria */
.conv-dis {
    background-color: #00639a;
    border-radius: 1rem;
    color: #ffffff;
    padding: 2% 10%;
}
