/* frontend/src/styles/convocatoria.css 
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400&family=Gotham:wght@400&display=swap');

body {
    font-family: 'Gotham', sans-serif;
}

.card-body{
    background-color: #ffffff;
    border-radius: 2rem;
}
.fondo-conv-div{
    background-color: #ffffff;
}


/* Contenedor principal 
.container-list-convocatoria,
.container-list-conv-estado {
    background-color: #00639a;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

/* Título 
.text-center-convocatoria,
.text-center-conv-estado,
.card-custom-conv-estado .text-center-conv-estado {
    background-color: #00639a;
    border-radius: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Gotham', sans-serif;
}

.mb-4-conv-estado {
    margin-bottom: 20px;
    border-radius: 2rem;
}




/* Contenedor de búsqueda 
.search-container-convocatoria {
    display: flex;
    align-items: center;
    background-color: #00639a;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Campos de formulario 
.form-control-convocatoria, 
.form-control {
    border-radius: 2rem;
    background-color: #00639a;
    color: white;
    padding: 0.5rem;
    border: 0.1rem solid white;
    margin: 0 0.5rem;
}

.form-select-convocatoria{
    background-color: white;
}

.form-select-convocatoria:focus, 
.form-control-convocatoria:focus {
    background-color: white;
    outline: none;
    color: black;
    border-color: #00639a;
}

/* Tabla 
.table-convocatoria {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-top: 1.5rem;
    text-align: center;
    color: #0d234a;
    border: 1rem solid #ddd;
}

.table-convocatoria th {
    background-color: #00639a;
    color: white;
    font-weight: bold;
    padding: 1rem;
}

.table-convocatoria td {
    padding: 1rem;
    border-top: 1rem solid #ddd;
}

.table-convocatoria tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Botones personalizados 
button {
    border-radius: 0.5rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.custom-button {
    padding: 1rem;
    margin: 0.5rem;
    font-family: 'Arvo', serif;
    background-color: white;
    color: #060a16;
    border: 0.1rem solid white;
    border-radius: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover {
    background-color: #00639a;
    color: white;
    transform: translateY(-0.2rem);
}

.custom-button-warning {
    background-color: #ff9800;
}

.custom-button-warning:hover {
    background-color: #ff5722;
}

/* Modal 
.modal-header-conv-estado {
    background-color: #f8f9fa;
    border-bottom: 2px solid #ddd;
}

.modal-footer-conv-estado .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.modal-footer-conv-estado .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Tarjeta 
.card-custom-conv-estado {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-custom-conv-estado:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estados 
.estado {
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.estado-para-revision {
    background-color: yellow;
    color: black;
}

.estado-en-revision {
    background-color: orange;
    color: white;
}

.estado-observado {
    background-color: #A8150D;
    color: white;
}

.estado-revisado {
    background-color: green;
    color: white;
}

/* Diseño responsivo 
@media (max-width: 1200px) {
    .container-list-conv-estado {
        padding: 20px;
        border-radius: 10px;
        background-color: #f9f9f9;
    }

    .card-custom-conv-estado {
        margin-bottom: 1rem;
    }
}

