/* frontend/src/styles/Diseños_paginas.css */
.container-list-container {
    min-height: 100vh;
    background-color: rgba(0, 48, 73, 0.1);
    transition: padding-left 0.3s ease-in-out;
}

.container-list-container.sidebar-open {
    padding-left: 250px; /* Ancho del sidebar abierto */
}

.container-list-container.sidebar-closed {
    padding-left: 80px; /* Ancho del sidebar cerrado */
}

/* Estilo para las tarjetas */
.card-custom {
    background-color: rgba(173, 17, 3, 0.5);
    border: none;
    transition: transform 0.3s ease;
}

.card-custom:hover {
    transform: scale(1.05);
}

/* Estilo para el texto de las tarjetas */
.facultad-name {
    color: black;
}

/* Estilo para los botones */
.custom-button {
    color: white;
    margin: 0 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    transform: scale(1.05);
}

/* Estilo para los grupos de botones */
.button-group {
    display: flex;
    justify-content: center;
}

/* Header para el título de la lista */
.header-rectangle {
    background-color: rgba(0, 48, 73, 0.3);
    padding: 10px 0;
    margin-bottom: 20px;
}
