/* frontend/src/styles/facultad.css */
.create-button {
    color: #ffffff;
    background-color: #0e6b28;
    border-color: #3dc063;
    border-radius: 2rem;
}

.create-button:hover {
    color: #ffffff;
    background-color: #3dc063;
    border-color: #0e6b28;
    border-radius: 2rem;
}

.header-rectangle {
    background-color: rgba(0, 48, 73, 0.8);
    padding: 20px;
    border-radius: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.title-facultad {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    
}
