/* frontend/src/styles/convocatoriaMaterias.css */


/* frontend/src/styles/HonorariosForm.css */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@400&display=swap');

/* Contenedor principal */
.container-honorarios {
    background-color: #00639a;
    padding: 20px;
    border-radius: 1rem;
    color: white;
    font-family: 'Gotham', sans-serif;
    max-width: 80rem; 
    margin: 2rem auto; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 5); 
}
/* Título */
.titulo-honorario {
    font-family: 'Arvo', serif;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 15px;
    border-radius: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Campos de formulario */
.form-label-honorarios {
    font-weight: bold;
    color: #ffffff;
}

.form-control-honorarios, .form-select-honorarios {
    background-color: #ffffff;
    color: #000;
    border-radius: 1rem;
    border: 1px solid #ffffff;
    padding: 10px;
    font-family: 'Gotham', sans-serif;
}

.form-control-honorarios::placeholder {
    color: #0000008e;
}

.form-control-honorarios:focus, .form-select-honorarios:focus {
    background-color: #ffffff;
    color: #000000;
    outline: none;
}

/* Botones */
.btn-honorarios {
    background-color: #9c2121;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    font-family: 'Arvo', serif;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

.btn-honorarios:hover {
    background-color: #ffffff;
    transform: translateY(-2px);
    color: black;
}

.btn-primary-honorarios {
    background-color: #002fb1;
}

.btn-primary-honorarios:hover {
    background-color: #ffffff;
    transform: translateY(-2px);
}

/* Espaciado adicional entre botones */
.ml-2-honorarios {
    margin-left: 10px;
}

/* Mensaje de error */
.error-message-honorarios {
    color: #ff4d4f;
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
}
