/* frontend/src/styles/Login.css */
/* Estilo general de la página */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f5f5f5;
}

/* Contenedor principal dividido en dos columnas */
.login-container {
    display: flex;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

/* Columna izquierda (formulario de login) */
.login-form-container {
    flex: 1;
    background: #fff;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* Contenedor del título e imagen pequeña */
.login-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.mini-logo {
    width: 160px;
    height: 80px;
    border-radius: 1rem;
    margin-right: 50px;
    background-color: rgba(0,0,0,0.2);
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Botón de login */
.btn-login {
    background-color: #FF4E50; 
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: #ff6b6b;
}

/* Campos del formulario */
.form-control {
    background-color: rgb(245, 245, 245);
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    color: #333;
}

/* Footer de copyright */
.login-footer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 12px;
    color: #666;
}

/* Columna derecha (imagen de fondo) */
.login-background-image {
    flex: 1;
    background-image: url('/public/imagenes/universidad-fondo.jpg'); /* Usa la imagen en la carpeta "public/imagenes" */
    background-size: cover;
    background-position: center;
}

/* Barra superior */
.top-bar {
    background-color: #c0c0c0; /* Color plomo */
    padding: 10px; /* Espaciado */
    position: fixed; /* Fijo en la parte superior */
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1000; /* Asegura que esté por encima del resto */
}

/* Logo en la barra superior */
.logo {
    width: 10rem; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la relación de aspecto */
}

/* Estilo general de la página */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f5f5f5;
    padding-top: 60px; /* Para evitar que el contenido quede detrás de la barra superior */
}
