/* frontend/src/styles/materia.css */

/* Contenedor principal de la lista de materias */
.materia-list-container {
    composes: container-list-container from './Diseños_paginas.css';
}

/* Estilo específico para el botón de crear materia */
.create-button {
    display: block;
    margin: 0 auto 20px;
}
