/* frontend/src/styles/Sidebar.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: width 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 1.5rem;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/* Estilo para el logo del sidebar */
.sidebar .navbar-logo {
    width: 100px;
    margin: 10px auto;
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.sidebar.open .navbar-logo {
    opacity: 1;
}

/* Encabezado del sidebar */
.sidebar-header {
    text-align: center;
    margin-bottom: 1rem;
}

/* Configuración para cuando el sidebar está abierto */
.sidebar.open {
    width: 250px;
}

/* Texto y enlaces del sidebar */
.navbar-titulo {
    text-align: center;
    color: white;
}

.sidebar .nav-text {
    display: none;
}

.sidebar.open .nav-text {
    display: inline;
}

/* Íconos del sidebar */
.nav-icon {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 10px;
    display: inline;
    text-align: center;
    margin-bottom: 1rem;
}

.sidebar.open .nav-icon {
    display: inline;
}

/* Enlace de navegación */
.sidebar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link.active {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.5);
}

/* Botón para abrir/cerrar el sidebar */
.sidebar-toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    padding-top: 1.5rem;
}

.toggle-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}
