/* src/App.css */

body {
  background-color: #ECF0F1;
  color: #34495E;
  font-family: 'Arial', sans-serif;
}

.main-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #2C3E50;
}

.navbar-brand, .nav-link {
  color: #ECF0F1 
}

.navbar-brand:hover, .nav-link:hover {
  color: #18BC9C 
}

.btn-primary {
  background-color: #1ABC9C;
  border: none;
}

.btn-primary:hover {
  background-color: #16A085;
}

.btn-secondary {
  background-color: #2C3E50;
  border: none;
}

.btn-secondary:hover {
  background-color: #34495E;
}
